body {
    padding: 0;
    margin: 0;
}

#unity-container {
    position: absolute;
}

#unity-container.unity-desktop {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#unity-container.unity-mobile {
    position: fixed;
    width: 100%;
    height: 100%;
}

#unity-canvas {
    /* background-image: url('loading.png');
    background-size: cover;
    background-position: center; */
    /* background: #231f20; */
}
#unity-background {
    display: flex;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url('loading.png');
    background-size: cover;
    background-position: center;
}

.unity-mobile #unity-canvas {
    width: 100%;
    height: 100%;
}

#unity-logo {
    width: 154px;
    height: 130px;
    background: url("unity-logo-dark.png") no-repeat center;
}

#unity-loading-bar {
    display: flex;
    position: relative;
    width: 93.8974vw;
    height: 3.8462vw;
    left: 50%;
    bottom: 25.641vw;
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
}

#unity-progress-bar-empty {
    width: 85.1282vw;
    height: 1.5385vw;
    gap: 0px;
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.8);
    /* 使用 rgba 定义背景颜色和透明度 */
}

#unity-progress-bar-full {
    width: 0%;
    height: 1.5385vw;
    /* background: url("progress-bar-full-dark.png") no-repeat center; */
    background: linear-gradient(90deg, #E6FFFF 0%, #4BDEDE 100%);
}

#percentage {
    position: absolute;
    right: 0.5641vw;
    font-size: 2.8205vw;
    color: #FAFAFA;
}
#percentage-icon {
    position: absolute;
    bottom: 2.5641vw;
    width: 7.1795vw;
    height: 5.3846vw;
    /* background-image: url('car.png'); */
    background-size: cover;
    z-index: 10;
}

#unity-progress-bar-full-text {
    display: block;
    text-align: center;
    margin-top: 2.5641vw;
    font-size: 3.8462vw;
    font-weight: 400;
    color: #FAFAFA;
    margin-left: 7.6923vw;
}

#unity-footer {
    position: relative;
}

.unity-mobile #unity-footer {
    display: none;
}

#unity-webgl-logo {
    float: left;
    width: 204px;
    height: 38px;
    background: url("webgl-logo.png") no-repeat center;
}

#unity-build-title {
    float: right;
    margin-right: 10px;
    line-height: 38px;
    font-family: arial;
    font-size: 18px;
}

#unity-fullscreen-button {
    float: right;
    width: 38px;
    height: 38px;
    background: url("fullscreen-button.png") no-repeat center;
}

#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none;
}